﻿<!DOCTYPE html>
<html>
<head>
    <title>Oculus Rift head tracking with SignalR</title>
    <style type="text/css">
        .container {
            background-color: #99CCFF;
            border: thick solid #808080;
            padding: 10px;
            margin: 20px;
        }

        .number {
            width: 50px;
            display: inline-block;
            text-align: right;
            margin-right: 30px;
        }

        .header {
            width: 200px;
            display: inline-block;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>Oculus Rift tracking information</h3>
        <ul id="messages"></ul>
        <div id="acceleration"><span class="header">Current acceleration</span> X: <span class="number" id="accel-x">0</span> Y: <span class="number" id="accel-y">0</span> Z: <span class="number" id="accel-z">0</span></div>
        <div id="velocity"><span class="header">Current angular velocity</span> X: <span class="number" id="vel-x">0</span> Y: <span class="number" id="vel-y">0</span> Z: <span class="number" id="vel-z">0</span></div>
        <div><span class="header">Reqs/sec:</span><span class="number" id="rps">0</span></div>
    </div>
    <!--Script references. -->
    <!--Reference the jQuery library. -->
    <script src="Scripts/jquery-2.0.3.min.js"></script>
    <!--Reference the SignalR library. -->
    <script src="Scripts/jquery.signalR-2.0.1.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="http://localhost:9021/signalr/hubs"></script>
    <!--Add script to update the page and send messages.-->
    <script type="text/javascript">
        $(function () {
            // RPS counting
            var rps = 0;

            //Set the hubs URL for the connection
            $.connection.hub.url = "http://localhost:9021/signalr";
            var chat = $.connection.senderHub;

            chat.client.addMessage = function (name, message) {
                // Html encode display name and message.
                var encodedName = $('<div />').text(name).html();
                var encodedMsg = $('<div />').text(message).html();
                // Add the message to the page.
                $('#messages').append('<li><strong>' + encodedName
                    + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
            };

            chat.client.setAcceleration = function (x, y, z) {
                $('#accel-x').text(x.toFixed(3));
                $('#accel-y').text(y.toFixed(3));
                $('#accel-z').text(z.toFixed(3));

                rps++;
            }

            chat.client.setAngularVelocity = function (x, y, z) {
                $('#vel-x').text(x.toFixed(3));
                $('#vel-y').text(y.toFixed(3));
                $('#vel-z').text(z.toFixed(3));
            }

            setInterval(function () {
                $('#rps').text(rps);
                rps = 0;
            }, 1000);
                    
            // Start the connection.
            $.connection.hub.start();
        });
    </script>
</body>
</html>
